<%
  headerCols = "p-3 text-left"
  bodyCols = "p-3 font-bold"
%>

<div
  data-controller="search"
  data-search-searchable-fields-per-record-value="<%= @searchable_fields.size %>"
>
  <input
    type="text"
    id="keyword"
    name="keyword"
    placeholder="Search by keyword"
    class="shadow border rounded w-full p-6 my-2"
    data-action="input->search#filter"
  />

  <div class="items-center justify-center bg-gray-900 rounded">
    <div class="overflow-auto lg:overflow-visible">
      <table class="table text-gray-400 border-separate space-y-6 text-sm">
        <caption class="caption-top my-4 uppercase">
          Searchable Fields Are:
          <div data-search-target="listFieldsOutput" class="space-x-2"></div>
        </caption>
        <thead class="bg-gray-800 text-gray-500">
          <thead>
            <tr>
              <% @table_fields.each do |header_name| %>
                <th class=<%= headerCols %>><%= header_text_cleaner(header_name) %></th>
              <% end %>
            </tr>
          </thead>
          <tbody class="bg-gray-800">
            <% @books.each do |book| %>
              <tr>
                <% @table_fields.each do |field_name| %>
                  <%= table_row_data_builder(
                    object: book,
                    attribute: field_name,
                    searchable_fields: @searchable_fields,
                    class_name: bodyCols
                  ) %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </thead>
      </table>
    </div>
  </div>
</div>
